infra/logicapp/email.actions.json
{
  "For_each": {
    "type": "Foreach",
    "foreach": "@triggerBody()?['Attachments']",
    "actions": {
      "Analyze_Document": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['formrecognizer']['connectionId']"
            }
          },
          "method": "post",
          "body": "@base64ToBinary(items('For_each')?['ContentBytes'])",
          "path": "/connectorinternaldocumentintelligence/documentModels/@{encodeURIComponent('prebuilt-layout')}:analyze",
          "queries": {
            "api-version": "2024-11-30"
          }
        }
      },
      "Parse_as_JSON": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureopenai']['connectionId']"
            }
          },
          "method": "post",
          "body": {
            "messages": [
              {
                "role": "system",
                "content": "Your objective is to return a JSON format to describe the order requested by the customer.\n\n{\n            \"order\": {\n                \"type\": \"array\",\n                \"items\": {\n                    \"item\": {\n                        \"type\": \"string\"\n                    },\n                    \"description\": {\n                        \"type\": \"string\"\n                    },\n                    \"size\": {\n                        \"type\": \"number\"\n                    },\n                    \"color\": {\n                        \"type\": \"string\",\n                        \"format\": \"date-time\"\n                    },\n                    \"quantity\": {\n                        \"type\": \"number\"\n                    },\n                    \"unit_price\": {\n                        \"type\": \"number\",\n                        \"format\": \"currency\"\n                    },\n                    \"amount\": {\n                        \"type\": \"number\",\n                        \"format\": \"currency\"\n                    }\n                }\n            }\n        },\n        \"required\": []\n    }\n}"
              },
              {
                "role": "user",
                "content": "@string(body('Analyze_Document')?['analyzeResult']?['tables'])"
              }
            ],
            "temperature": 1,
            "top_p": 1,
            "stream": false,
            "stop": null,
            "max_tokens": 4096,
            "presence_penalty": 0,
            "frequency_penalty": 0,
            "n": 1,
            "seed": 0,
            "logprobs": false,
            "response_format": {
              "type": "text"
            }
          },
          "path": "/2024-02-15-preview/deployments/@{encodeURIComponent(parameters('openAIModel'))}/chat/completions",
          "queries": {
            "api-version": "2025-01-01-preview"
          }
        },
        "runAfter": {
          "Analyze_Document": ["Succeeded"]
        }
      },
      "Send_message": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['servicebus']['connectionId']"
            }
          },
          "method": "post",
          "body": {
            "ContentData": "@base64(concat('{\n\"specversion\": \"1.0\",\n\"type\": \"com.dapr.event.sent\",\n\"source\": \"blob-logic-app\",\n\"id\": \"',guid(),'\",\n\"time\": \"',utcNow(),'\",\n\"datacontenttype\": \"application/json\",\n\"data\": {  \"order_id\": \"',concat('order_', formatDateTime(utcNow(), 'yyyyMMddHHmmss')),'\", \"input\": ',replace(replace(replace(body('Parse_as_JSON')['choices'][0]['message']['content'], '```json', ''), '```', ''), '\n',''),'}\n}'))",
            "Properties": {
              "type": "trigger"
            }
          },
          "path": "/@{encodeURIComponent(encodeURIComponent('orders'))}/messages",
          "queries": {
            "systemProperties": "None"
          }
        },
        "runAfter": {
          "Parse_as_JSON": ["Succeeded"]
        }
      }
    },
    "runAfter": {}
  }
}
